<!DOCTYPE html>
<html>
  <head>
    <title>Notebook Grid</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <label for="grid-width">Grid width:</label>
    <input type="number" id="grid-width" min="1" max="50" value="10" />
    <label for="grid-height">Grid height:</label>
    <input type="number" id="grid-height" min="1" max="50" value="10" />
    <button onclick="createGrid()">Create Grid</button>
    <div id="container"></div>
    <script src="static/manage_table.js"></script>
  </body>
</html>

