<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Clickable Grid</title>
    <style>
    #board {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 2px;
      background-color: #eee;
      width: 500px;
      height: 500px;
    }

    .cell {
      background-color: white;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .cell.blue {
      background-color: blue;
    }

    .cell.red {
      background-color: red;
    }
    </style>
    </head>
    <body>
        <div id="board"></div>
        <script src="static/manage_table.js"> </script>
        
    </body>
</html>
